@page "/cart"
@using DynamicTechShop.Managers
@using DynamicTechShop.Models

<h3>Cart</h3>

@if(CartManager.Cart.Any())
{
    <ul>
    @foreach (ProductModel product in CartManager.Cart)
    {
          <li>
              <h3>@product.Name</h3>
              <p><strong>Price:</strong><em> $ @product.Price</em></p>
          </li>  
    }>
    </ul>

    <h3>Total: @CartManager.GetTotalPrice()</h3>
}
else
{
    <h1>Cart is empty...</h1>
}


@code 
{

}
