@page "/"
@using DynamicTechShop.Managers
@using DynamicTechShop.Models
@using Newtonsoft.Json
@inject HttpClient client

<PageTitle>Home</PageTitle>

<p><strong>Items in cart:</strong><em> @CartManager.Cart.Count()</em></p>

<a href="/cart">Go to cart</a>

@if(products != null)
{
    <div class="row">
    @foreach(ProductModel product in products)
    {
        <div class="col-4 product-item">
            <a href="/product/@product.Id"><h2>@product.Name</h2></a>
            <p><strong>Price:</strong><em> $ @product.Price</em></p>
            <button class="btn btn-outline-success" @onclick="@(() => AddToCart(product.Id))">Add to cart</button>
        </div>
    }
    </div>

}

<!-- Visa alla produkter -->
@code {
    private List<ProductModel>? products;

    private void AddToCart(int? productId)
    {
        // Add the product to the cart

        if(productId != null)
        {
            ProductModel productToAddToCart = products!.First(p => p.Id == productId);

            CartManager.Cart.Add(productToAddToCart);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Gör ett call till products.json för att få ett response tillbaka
        var response = await client.GetAsync("sample-data/products.json");

        // Läs responset som json
        string jsonProducts = await response.Content.ReadAsStringAsync();

        // Konvertera json till C#-modeller
        products = JsonConvert.DeserializeObject<List<ProductModel>>(jsonProducts);
    }
}